<div class="container-fluid page">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo" href="#">
            <h3 class="logo-title">Secure Journal Design</h3>
        </a>
    </nav>
    <div class="pg">
        <div class="cnt">
            <div *ngIf="article" class="container">
              <!--<i class="fa-solid fa-left-long"></i>-->
              <div class="author-info">
                <p class="author-name">{{article.author.username}}</p>
                <p class="topic">{{article.topic}}</p>
                <p class="date">{{article.updated_at | date}}</p>
              </div>
                <h1 class="article-title">{{article.title}}</h1>
                <h2 class="article-subheading">{{article.subheading}}</h2>
                <img class="article-img" [src]="article.picture_url" alt="Article Image">
                <p class="article-body">{{article.body}}</p>
                <span class="like-count">{{article.likes.length}} <i class="fas fa-hands-clapping"></i></span>
            </div>
              <div class="spacer">
              </div>
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a class="nav-link px-2 text-body-secondary">Home</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2023 Secure Journal Design, Inc</p>
          </footer>
      </div>
    </div>
  </div>
  
  
  