.page {
  margin-top: 5px;
}

.sign-in-btn {
  margin-right: 10px;
  border-radius: 40px;
  padding: 12px;
  background-color: transparent;
  width: 100px;
}

.sign-up-btn {
  margin-right: 40px;
  border-radius: 40px;
  padding: 12px;
  width: 100px;
}

.logo {
  margin-left: 40px;
  margin-right: auto;
}

.exit {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.exit i {
  float: right;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 8px;
  font-weight: 400;
  font-size:x-large;
}

.pg {
  margin-top:30px;
}

.cnt {
  min-height: 420px;
}

.btn-warning {
  color: white;
}

.card {
  width: max-content;
  height: auto;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-img-top {
  min-height: 40vh;
  max-height: 65vh;
  position: relative;
  object-fit:cover;
  width: 50vh;
  border-bottom: 1px solid grey;
}

.top-img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  border-radius: 30px;
}

.top-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.on-top {
  position: absolute;
  bottom: 0;
  width: auto;
  margin-left: 20px;
  margin-bottom: 40px;
  color: white;
}

.top-container {
  position: relative;
}

.articles-cont {
  padding-left: 50px;
}

.created-date {
  font-size: 17px;
  float: right;
  margin-right: 40px;
}

.card-cnt {
  position: relative;
  width: 100%;
}

.topic,
.date,
.author {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
}

.topic {
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #fff;
}

.date {
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: aquamarine;
}

.title-username-row {
  justify-content: space-between;
}