.page {
  margin-top: 5px;
}

.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 15px;
  font-size: xx-large;
}

.search-input {
  padding-left: 40px;
  padding-right: 40px;
}

.sign-in-btn {
  margin-right: 10px;
  border-radius: 40px;
  padding: 12px;
  background-color: transparent;
  width: 100px;
}

.search-btn {
  margin-right: 40px;
  border-radius: 40px;
  width: 150px;
  padding: 12px;
}

.sign-up-btn {
  margin-right: 40px;
  border-radius: 40px;
  padding: 12px;
  width: 100px;
}

.logo {
  margin-left: 40px;
  margin-right: auto;
}

.exit {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.exit i {
  float: right;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 8px;
  font-weight: 400;
  font-size:x-large;
}

.pg {
  margin-top:30px;
}

.cnt {
  min-height: 100px;
}

.spacer {
  min-height: 70vh;
}

.btn-warning {
  color: white;
}

.card {
  width: 40vh;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-img-top {
  position: relative;
  object-fit:cover;
  border-bottom: 1px solid grey;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  border-radius: 30px;
}

.top-container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
}

.top-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.on-top {
  position: absolute;
  bottom: 0;
  width: auto;
  padding-left: 20px;
  margin-bottom: 40px;
  color: white;
  width: 97%;
}

.top-container {
  position: relative;
}

.articles-cont {
  padding-left: 50px;
}

.created-date {
  font-size: 16px;
  float: right;
  margin-right: 2%;
}

.card-cnt {
  position: relative;
  width: 100%;
}

.topic,
.date {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
}

.topic {
  top: 0;
  left: 0;
  margin-top: 5px;
  background-color: black;
  color: white;
}

.date {
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: aquamarine;
  font-size: 12px;
}

.author {
  font-weight: 500;
  margin-top: 7px;
}

.card-text {
  font-style: italic;
}

.title-username-row {
  justify-content: space-between;
}